*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

header{
	width: 100%;
	height: 50px;
	background-color: #ff9a4b;
}

main{
	padding: 50px 0;
}

.step-box{
	width: 960px;
	margin: 0 auto;
}

.step{
	float: left;
	width: 300px;
	padding: 10px 10px;
	background-color: #eeeeee;
	position: relative;
}

.step:nth-child(1),.step:nth-child(2){
	margin-right: 30px;
}

.step-headline{
	background-color: #ff9a4b;
	width: 70px;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}

.image{
	width: 280px;
	height: 150px;
	background-size: cover;
	background-position: center;
}

.image1{
	background-image: url(img/flow01.png);
}
.image2{
	background-image: url(img/flow02.png);
}
.image3{
	background-image: url(img/flow03.png);
}

.step-title{
	margin:15px 0 5px 0;
}

footer{
	width: 100%;
	height: 50px;
	background-color: #aaaaaa;
}